body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: rgb(44, 41, 38);
}

a {
  text-decoration: none;
}

#main-header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(29, 26, 24);
  padding: 0 5%;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(238, 164, 80);
  text-transform: uppercase;
}

/* Hamburger Button */
.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: white;
}

#main-header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#main-header li {
  margin: 0 1rem;
}

#main-header nav a {
  color: rgb(185, 131, 31);
  font-size: 1.25rem;
}

#main-header nav a:hover {
  color: rgb(228, 163, 44);
}

/* Side Drawer */
#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(29, 26, 27);
  /* position:flexd 속성으로 문서흐름에서 해당 요소를 제외하고 
     top:0, left:0으로 브라우저 내에 보이는 영역을 기준으로 상단과 좌측에 간격 없이 배치되도록 함(전체 공간 차지) */
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

/* 가상 선택자 target은 현재 활성화 된 내부 링크의 특정 요소 영역에 스타일 적용 */
#side-drawer:target {
  display: block;
}

#side-drawer header {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}

#side-drawer ul {
  list-style: none;
  margin: 0;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* flex-direction:column이면 align-items:center가 플렉스 항목들을 교차축, 가로축을 따라 중앙 정렬 */
}

#side-drawer li {
  margin: 1rem 0;
}

#side-drawer a {
  color: rgb(253, 239, 213);
  font-size: 2rem;
}

main h1 {
  text-align: center;
  color: rgb(243, 189, 89);
  font-size: 3rem;
}

#latest-products {
  width: 80%;
  margin: 2rem auto;
}

#latest-products ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.food-item {
  background-color: rgb(228, 206, 182);
  border-radius: 6px;
  overflow: hidden;
}

.food-item img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.food-item-content {
  padding: 1rem;
  text-align: center;
}

.food-item h2 {
  /* Comparing Units
    ▪ px 
      - 사용자의 장치와 상관없이 크기 지정(절대 단위).
      - 사용자 정의 옵션 제한.
      - 테두리 혹은 테두리 모서리 굴곡 등의 크기 지정 시 사용 적합.
    ▪ %
      - 부모 요소 크기에 의해 크기 변경(상대 단위). 
      - 부모 요소에 종속적이므로 중첩된 요소들 안에서 크기 등을 지정할 수록 구조가 복잡해질 수 있음.
      - 부모 요소에 지정된 크기가 없을 경우 사용자 브라우저 설정값에 따름. 
    ▪ em
      - 요소의 폰트 크기의 상대 단위. 
      - 요소의 폰트 크기 지정 시 부모 요소 크기에 의해 크기 변경
        (폰트 크기 지정 시 %와 동일하게 적용(1em = 100%))
      - 폰트 크기 지정 시 부모 요소에 종속적이므로 중첩된 요소들 안에서 폰트 크기 등을 지정할 수록 구조가 복잡해질 수 있음.
    ▪ rem
      - 루트 요소(최상위 요소 <html>) 폰트 크기의 상대 단위.
      - 최상위 요소에 지정된 폰트 크기가 없을 경우 사용자 브라우저 설정값에 따름. 
  */
  /*font-size: 2rem;*/
  margin: 0 0 1rem 0;
}

.btn {
  background-color: rgb(228, 157, 44);
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
}

.btn:hover {
  background-color: rgb(221, 134, 34);
}

@media (max-width: 48rem) { /* 브라우저 폰트 크기 16px일 때 768px */
  #main-header nav {
    display: none;
  }

  .menu-btn {
    display: flex;
  }

  main h1 {
    font-size: 1.5rem;
  }

  #latest-products ul{
    grid-template-columns: 100%;
  }
}